{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- archivos importados de js -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.structure.min.css' %}" />
	<link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.theme.min.css' %}" />
    <!-- Mis Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script> 
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <!-- Moment -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/locale/es.js"></script>
    <!-- Slider  -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

    <script src="{% static 'js/main.js' %} "></script>

    <title>{% block title %}  {% endblock %}</title>
</head>
<body>
    {% include 'nav/nav.html' %}
    <section>
        <h1>Videojuegos</h1>
        <h2>Videos varios</h2>
        <p>Usted esta viendo el video en la fecha {{fecha}}</p>
        
    {% block content %}

    {% endblock %}
    </section>

    {% include 'nav/footer.html' %}
</body>
</html>