{% extends "base1.html" %}
{% block title %} Videojuegos {% endblock %}
{% block content %}
    <div>
        <h3>Videos de free fire </h3>
        <div id="acordeon">
            <h3>¿Quienes somos?</h3>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet malesuada erat, ac ullamcorper justo.
                </p>
            </div>
    
            <h3>Nuestros servicios</h3>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet malesuada erat, ac ullamcorper justo.
                </p>
            </div>
    
            <h3>Nuestros clientes</h3>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet malesuada erat, ac ullamcorper justo.
                </p>
            </div>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hJcrIKblISM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

{% endblock %}