{% extends "base1.html" %}
{% block title %} Musica {% endblock %}
{% block content %}
    <div>
        <h3>musicas </h3>
        <div id="box">
            <!-- Cargar reloj -->
            <div id="reloj"></div>
        
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/60ItHLz5WEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock %}