<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contactenos</h1>
    <!-- Verificamos si hay errores en el formulario  -->
    {% if form.errors %}
    <p style="color: red;">Por favor revisa este campo</p>
    {% endif %} 
    <!-- cada formulario hay que añadirle el token  -->
    <form action="" method="POST">{% csrf_token %} 
        <table>
            <!-- vamos a crear una tabla del formulario  -->
            {{form.as_table}}
        </table>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>