<body>
    <style>
        body{
            background-color: rgba(158,214,158,0.63);
        }
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        form *{
            max-width: 20%;
            margin: 5px;
        }
    </style>
    <form action="/gestor/resultado/" method="GET">
        <label for="producto">Introduzca el producto que desea buscar en la base de datos:</label>
        <input type="text" name="producto" size="40">
        {% if error %}
        <p style="background-color:red">El nombre buscado debe contener menos de 20 letras</p>
        {% endif %}

        <select name="seccion" id="">
            <option value="todos">Todos</option>
            {% for sec in articulos %}
                <option value="{{sec}}">{{sec|upper}}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
    </form> 
</body>