<div>
    <style>
        body{
            background-color: rgba(158, 214, 158, 0.63);
        }
        div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        table{
            width: 40%;
        }
        td{
            width: auto;
        }
        th{
            width: auto;
        }
        tr{
            width: 100%;
            text-align: center;
        }
    </style>
    <table>
        <caption>Resultado de la busqueda</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Seccion</th>
                <th>Precio</th>
            </tr>
        </thead>

        <tbody>
            {% if status %}
                {% for re in registro %}
                    <tr>
                        <td>{{re.nombre}}</td>
                        <td>{{re.seccion}}</td>
                        <td>{{re.precio}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                    <tr>
                        <td></td>
                        <td>Sin resultados</td>
                        <td></td>
                    </tr>
            {% endif %}
        </tbody>
    </table>
</div>